messaging_bot_samples/my_soe_flow_backup
[{"id":"1b3c25ef.d67532","type":"tab","label":"LP","disabled":false,"info":""},{"id":"cc7efe52.a1e83","type":"http response","z":"1b3c25ef.d67532","name":"lpsdk response","statusCode":"200","headers":{},"x":580,"y":180,"wires":[]},{"id":"ef0cde3.9cf7c2","type":"function","z":"1b3c25ef.d67532","name":"create response","func":"msg.payload = [{\"text\": \"got it\"}];\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":180,"wires":[["cc7efe52.a1e83"]]},{"id":"5b806c57.be1714","type":"http in","z":"1b3c25ef.d67532","name":"","url":"/lpsdk","method":"post","upload":false,"swaggerDoc":"","x":170,"y":320,"wires":[["1cb4b03b.8de9e","571afc24.56587c"]]},{"id":"1cb4b03b.8de9e","type":"debug","z":"1b3c25ef.d67532","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":410,"y":320,"wires":[]},{"id":"571afc24.56587c","type":"function","z":"1b3c25ef.d67532","name":"Save MSG","func":"//msg.save_msg = {};\n//msg.save_msg.req = msg.req;\n//msg.save_msg.res = msg.res;\n//delete msg.req;\n//delete msg.res;\n\n/**\nvar str = msg.payload.inputs[0].rawInputs[0].query;\nvar str_up = str.toUpperCase();\n\nvar str_found = str_up.match(/IBM UCG/g);\nmsg.user_utterance = str;\n\nif (str_up.match(/IBM UCG/g) ) {\n    msg.user_utterance = \"Hello\";\n}\nif (str_up.match(/TEST UCG/g) ) {\n    msg.user_utterance = \"Hello\";\n}\n*/\nif (typeof msg.payload.event !== 'undefined') {\n   msg.user_utterance = msg.payload.event.message;\n   msg.sessionId = msg.payload.event.conversationId;\n}\nelse\n{\n    msg.user_utterance = msg.utterance;\n    msg.sessionId = msg.dialogId;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":400,"wires":[["c37eeb9d.907dc"]]},{"id":"c37eeb9d.907dc","type":"function","z":"1b3c25ef.d67532","name":"Google flow - SDK","func":"node.error(msg);\nconst g_apiai = context.global.apiai;\n\n//msg.sessionId = \"ABwppHGnS6EpRmUchX14N9iq433VhdhpIbu7wlBVxULgvkbEazRzfiXvYFtMMTb7izpYPogn_yW3xkB_k2dctFmw\";\n//msg.user_utterance = \"Hello\";\n\nvar app = g_apiai(\"39911804021741f08646a1b90bd2afaf\");    // Pizza Order\n//var app = g_apiai(\"664490cadaf74ecaae0c6c02399e68cb\");  // Insurance Agent\n\nvar options = {\n    sessionId: \"nak\"+msg.sessionId //,\n    /*contexts: [{}]\n    \n        {\n            name: 'order_pizza_dialog_context',\n            parameters: {\n                'pizza_topping' : 'onions',\n                'size' : 'large',\n                'time' : '9:30'\n            }\n        } \n] */\n};\n\n\n//var request = app.textRequest('Hello', {\n//    sessionId: '1234567'\n//});\n\nvar user_utterance = msg.user_utterance;\n\nvar request = app.textRequest(user_utterance, options);\n\nrequest.on('response', function(response) {\n    \n    msg.payload = response;\n    //node.warn(msg);\n    node.send(msg);\n});\n\nrequest.on('error', function(error) {\n   // msg.payload = error;\n    node.error(msg);\n});\n\nrequest.end();\n\n\n//return msg;","outputs":1,"noerr":0,"x":570,"y":400,"wires":[["32aacf01.1626a8","77d57e6e.587168"]]},{"id":"32aacf01.1626a8","type":"function","z":"1b3c25ef.d67532","name":"create response","func":"var obj_response = msg.payload.result.fulfillment.speech.split(\"|\");\n//m_response = obj_response[obj_response.length-1];\n\nif (typeof msg.payload.event !== 'undefined') {\n    msg.payload = [{\"text\" : obj_response[obj_response.length-1]}];\n}\nelse {\n    msg.payload = obj_response[obj_response.length-1];\n}\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":480,"wires":[["f48bbd76.0345b"]]},{"id":"f48bbd76.0345b","type":"http response","z":"1b3c25ef.d67532","name":"lpsdk response","statusCode":"200","headers":{},"x":840,"y":480,"wires":[]},{"id":"77d57e6e.587168","type":"debug","z":"1b3c25ef.d67532","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":750,"y":340,"wires":[]}]